/**
*nav
**/

.nav{
	background-color:white;
	margin: 10px;
	padding:20px;
	display:block;
	text-align:center;
}
.nav > a{
	padding:2px;
}

/**
*invoice
**/
.company-details{
	display:block;
	
}
.customer-details>p{
	display:block;
	word-spacing: 20px;
	
}
.invoice-tfoot{
	margin-right:120px;
}
