

body {
	background-color:#f0f0f0;
    font-size: 100%;
}

/**
*nav
**/

.nav{
	background-color:white;
	padding:20px;
	display:block;
	text-align:center;
	
}
.nav > a{
	padding:10px;
	color: gray;
	font-weight: bold;
	font-size: 1em;	
	text-transform:uppercase;
}

.nav > a:hover .customer-dropdown{
	display:block;
}
.nav-banner{
	background-color: lightgray;
	padding:10px;
	display:block;
	text-align:center;
	font-style: italic;
	font-size: 2.5em;
	font-weight: bold;
	
}

/**
*form
**/
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

input[type=text],input[type=email],input[type=file],input[type=number],
input[type=date],select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

/**
*invoice
**/
.company-details, .footer{
	display:block;
	line-height: 0.7;
}
.customer-details{
	word-spacing: 5px;
	line-height: 0.7;	
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/**
*statement
**/
.statement{
	display:block;
	text-align: justify;
	line-height: 0.7;
	font-weight: bold;
}